altgraph==0.17.4
bottle==0.13.1
bottle-websocket==0.2.9
cffi==1.17.1
easygui-qt==0.9.3
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.1.1
importlib_metadata==8.5.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pefile==2024.8.26
pycparser==2.22
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
pywin32-ctypes==0.2.3
whichcraft==0.6.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.3
